/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* ---------------------------------------------------
   VARIABLES
----------------------------------------------------- */
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch; }

#sidebar {
  font-family: "Source Sans Pro", "Poppins", sans-serif;
  min-width: 250px;
  max-width: 250px;
  background: #222d32;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 3px 0 0 0 #eee;
  border-right: 1px groove #eee; }
  #sidebar .layout-item, #sidebar ul li a {
    padding: 10px;
    color: #fff;
    font-size: 1.1em;
    display: block;
    text-decoration: none; }
  #sidebar .layout-item-hover, #sidebar ul li a:hover {
    color: #fff;
    background: #424d52;
    text-decoration: none; }
  #sidebar .sidebar-header {
    padding: 20px;
    background: #424d52; }
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b; }
  #sidebar ul p {
    color: #fff;
    padding: 10px; }
  #sidebar ul .sub-title p {
    color: #979c9e;
    padding: 10px;
    background-color: #1e272b;
    text-transform: uppercase; }
  #sidebar ul li.active > a, #sidebar a[expanded="true"] {
    color: #fff;
    background: #424d52;
    border-left: 5px solid; }
  #sidebar a[expanded="false"]:before, #sidebar a[expanded="true"]:before {
    content: '\e259';
    display: block;
    position: absolute;
    left: 230px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em; }
  #sidebar a[expanded="true"]:before {
    content: '\e260'; }
  #sidebar .well {
    min-height: auto;
    padding: 0;
    margin-bottom: 0px;
    background-color: #424d52 !important;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0;
    background-image: none; }
    #sidebar .well ul a {
      color: #fff;
      font-size: 0.9em !important;
      padding-left: 30px !important; }
  #sidebar .glyphicon {
    font-size: 1.1emo 0.3em;
    margin-right: 10px; }

#sidebar.active {
  margin-left: -250px; }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s; }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px; }
  #sidebar.active {
    margin-left: 0; }
  #sidebarCollapse span {
    display: none; } }
